%h1 Modul přežití :: #{@team.name} [#{@team.number}]

%table.table
  %tr
    %th Zadány informace původním doprovodem ve vlaku
    %td= !@team.medical_data.blank? ? icon("check", "OK") : "---"
  %tr
    %th Body za dopravu
    %td= @team.points_survival_travel || "---"
  %tr
    %th Check-in v Řevnicích - foto
    %td= @team.checkin_photo.file? ? icon("check", "OK") : "---"
  %tr
    %th Check-in v Řevnicích - popis
    %td= !@team.checkin_data.blank? ? icon("check", "OK") : "---"
  %tr
    %th Body z večeře
    %td= @team.points_survival_dinner || "---"
  %tr
    %th Kontaktní info nového doprovodu
    %td= !@team.new_supervisor_data.blank? ? icon("check", "OK") : "---"
  %tr
    %th Body z večeře
    %td= @team.points_survival_dinner || "---"
  %tr
    %th Check-in na hotspotu
    %td= @team.ts_survival_hotspot || "---"
  %tr
    %th Body z přespání
    %td= @team.points_survival_night || "---"
  %tr
    %th Check-in na shromaždišti
    %td= @team.ts_survival_center || "---"
