%h1 Hodnocení Přežití :: přespání

%p Ráno po odchodu (nebo na shromaždišti) vyplň poslední část hodnocení modulu Přežití.

%h3 Vybraný hotspot

- if @team.hotspot
  %table.table
    %colgroup
      %col.col-sm-4
      %col.col-sm-8
    %tbody
      %tr
        %th Číslo hotspotu
        %td= @team.hotspot[:number]
      %tr
        %th Pracovní název
        %td= @team.hotspot[:name]
      %tr
        %th Dohledávka
        %td= @team.hotspot[:detail]
      %tr
        %th Souřadnice
        %td
          #{@team.hotspot[:lat]}, #{@team.hotspot[:lng]}
          %div#mapa(style="height:380px")
          :javascript
            $(function() {

              var center = SMap.Coords.fromWGS84(#{@team.hotspot[:lng]},#{@team.hotspot[:lat]});
              var m = new SMap(JAK.gel("mapa"), center, 14, SMap.DEF_TURIST);
              m.addMarker(center);
            });
- else
  %p Zatím nevybráno.

%h3 Hlídka zadala heslo z geokešky

- if @team.ts_survival_hotspot
  %p Příchod na místo přespání ověřen v #{@team.ts_survival_hotspot}.
- else
  %p Zatím ne.

%h3 Hodnocení přespání

= bootstrap_form_for @team, url: survival_night_path(suid: @team.survival_uid) do |f|
  = f.text_field :points_survival_night_spot, help: "max. #{Team.points_survival_night_spot_max} b"
  = f.text_field :points_survival_night_tent, help: "max. #{Team.points_survival_night_tent_max} b"
  = f.text_field :points_survival_night_cleanup, help: "max. #{Team.points_survival_night_cleanup_max} b"
  = f.text_field :points_survival_night_packing, help: "max. #{Team.points_survival_night_packing_max} b"
  = f.text_field :points_survival_night_gps, help: "max. #{Team.points_survival_night_gps_max} b"
  = f.text_field :points_survival_night_moral, help: "max. #{Team.points_survival_night_moral_max} b"
  = f.submit "Uložit", class: "btn btn-primary"

%h3 Odchod na shromaždiště

%table.table
  %colgroup
    %col.col-sm-4
    %col.col-sm-8
  %tbody
    %tr
      %th Je potřeba tam být do
      %td 7:00-7:30
    %tr
      %th Kde to je
      %td Na lesní křižovatce tvaru T nad Kytínem u velkého seníku, v mapě značeno jako "U Boudy"
    %tr
      %th Souřadnice
      %td
        49.8527933N, 14.1914814E
        %div#mapa-cil(style="height:380px")
        :javascript
          $(function() {

            var center = SMap.Coords.fromWGS84(14.1914814, 49.8527933);
            var m = new SMap(JAK.gel("mapa-cil"), center, 14, SMap.DEF_TURIST);
            m.addMarker(center);
          });

%h3 Příchod na shromaždiště

- if @team.ts_survival_center
  %p Příchod na místo přespání ověřen v #{@team.ts_survival_center}.
- else
  %p Zatím ne.

