%h1 Cesta na Přežití :: hodnocení a zdravotní info

%p
  Ve vlaku zde vyplň hodnocení disciplíny cesta na SZ a také zdravotní omezení (např. léky, alergie, epilepsie, ...) jako informaci pro doprovod, který s hlídkou celý modul do zítřejšího rána absolvuje.

= bootstrap_form_for @team, url: survival_travel_path(suid: @team.survival_uid) do |f|
  = f.text_field :points_survival_travel
  = f.text_area :medical_data, rows: 10
  = f.submit "Uložit", class: "btn btn-primary"

%h3 Check-in foto hlídky z Řevnic

%h5 Fotka
- if @team.checkin_photo.file?
  %p= image_tag @team.checkin_photo.url, style: "max-width: 100%; max-height: 500px"
- else
  %p Zatím nenahráli.

%h5 Popis
- if @team.checkin_data.blank?
  %p Zatím nenahráli.
- else
  %p= @team.checkin_data

- if @team.checkin_data.blank? or @team.checkin_photo.file?
  %p
    Hlídka nedokázala selfie vyfotit a nahrát a jste pořád v Řevnicích? Klikni na tlačítko níže a zobrazí se jim pokyny k dalšímu postupu i tak.
  %p
    = link_to "Odškrtnout - nesplnili, ale jdeme dál", survival_checkin_override_path(suid: @team.survival_uid), method: :post, class: "btn btn-danger"
