%h1 Modul Před závodem

%p Popsat modul před závodem.

%p Zdůraznit tři disciplíny.

%p Obecné info k dalším dvěma modulům.

%h2 Představení družiny

- if @team.points_about
  %p Vyhodnoceno. Získali jste #{@team.points_about} / #{Team.points_about_max} b.
- elsif Time.now < Team.about_deadline 
  %p Zadání.

  %p Maximum za tuto disciplínu je #{Team.points_about_max} bodů.

  - if @team.about_photo.file?
    %p Představení vaší družiny jsme dostali a po uzávěrce jej vyhodnotíme.
    %p Náhled nahrané fotky.
  - else 
    %p Představení vaší družiny zatím nemáme, až ho budete mít, nahrajte fotku pomocí formuláře níže. Čas máte do #{Team.about_deadline.strftime("%d. %m. %Y %H:%M")} - zbývá #{test_time_widget(Team.about_deadline)}.
  %div.well.well-sm
    Nahrát fotku - formulář.
- else Time.now < Team.about_deadline 
  - if @team.about_photo.file?
    %p Představení vaší družiny máme a pracujeme na jeho vyhodnocení.
  - else 
    %p Už je po uzávěrce a představení družiny jste nedodali – škoda, mohli jste mít až #{Team.points_about_max} bodů.

%h2 Test z pravidel SZ

- if @team.points_rules
  %p Vyhodnoceno. Získali jste #{@team.points_rules} / #{Team.points_rules_max} b.
- elsif Time.now < Team.rules_deadline 
  %p Zadání.

  %p Maximum za tuto disciplínu je #{Team.points_rules_max} bodů.

  - if !@team.replies_rules.blank?
    %p Vaše odpovědi na test z pravidel závodu jsme dostali a po uzávěrce je vyhodnotíme.
  - else 
    %p Test z pravidel závodu jste ještě nevyplnili, máte čas do #{Team.rules_deadline.strftime("%d. %m. %Y %H:%M")} - zbývá #{test_time_widget(Team.rules_deadline)}.
    %div.well.well-sm
      %p
        Pozor, jakmile se do testu pustíte, máte půl hodiny na jeho vyplnění a máte jenom jeden pokus.
      %p
        = link_to "Vyplnit test z pravidel", before_rules_start_team_path(uid: @team.uid), class: "btn btn-success"
- else Time.now < Team.rules_deadline 
  - if !@team.replies_rules.blank?
    %p Vaše odpovědi na test z pravidel závodu jsme dostali a pracujeme na jejich vyhodnocení.
  - else 
    %p Už je po uzávěrce a test jste nevyplnili – škoda, mohli jste mít až #{Team.points_rules_max} bodů.

%h2 Doprava na SZ

%p Tady to zatím nemáme rozmyšlené.