%h1 Modul Před závodem

%p V tomto modulu budete moci prokázat vlastní připravenost na vlastní závod. Tři hodnocené součásti vidíte níže. Je bezpodmínečně nutné se přihlásit (část Registrace na SZ), jinak nebudete moci závodit ani přistoupit k plnění úkolů v modulu Přežití. Ostatní části jsou také bodované a musíte je splnit do časového limitu (viz níže).

%h2 Registrace na SZ

- if @team.points_before_register
  %p Vyhodnoceno. Získali jste #{@team.points_before_register} / #{Team.points_before_register_max} b.
- elsif Time.now < Team.register_deadline
  %p Vyplňte přihlášku na závod. Kromě kontaktních údajů a seznamu členů hlídky, kteří opravdu pojedou, si zvolíte variantu postupu na modulu Přežití a čas odjezdu vašeho vlaku na závod (kdo dřív přijde, ten dřív mele).

  %p Maximum za tuto disciplínu je #{Team.points_before_register_max} bodů.

  - if !@team.replies_register.blank?
    %p Vaši přihlášku jsme dostali a po uzávěrce ji vyhodnotíme.
  - else
    %p Přihlášku na závod jste ještě nevyplnili, máte čas do #{Team.register_deadline.strftime("%d. %m. %Y %H:%M")} - zbývá #{test_time_widget(Team.register_deadline)}.
  %p
    = link_to((@team.replies_register.blank? ? "Vyplnit přihlášku na závod" : "Upravit přihlášku na závod"), before_register_team_path(uid: @team.uid), class: "btn btn-#{@team.replies_register.blank? ? "success" : "primary"}")
- else Time.now < Team.register_deadline
  - if !@team.replies_register.blank?
    %p Vaši přihlášku jsme dostali a pracujeme na jejím vyhodnocení.
  - else
    %p Už je po uzávěrce a test jste nevyplnili – škoda, mohli jste mít až #{Team.points_before_register_max} bodů.

%h2 Představení družiny

- if @team.points_before_about
  %p Vyhodnoceno. Získali jste #{@team.points_before_about} / #{Team.points_before_about_max} b.
- elsif Time.now < Team.about_deadline
  %p Vytvořte fotoprezentaci v programu #{link_to "Prezentace od Googlu", "https://www.google.com/intl/cs_cz/slides/about/", target: "_blank"} své závodní hlídky ze základního kola, ze které bude vidět, jak se jmenujete, jak vypadáte, co máte rádi, nebo zkrátka cokoli, co byste o sobě chtěli říci. Nemáte-li google účet, založte si jej přes skautis zdarma (požádejte o pomoc svého střediskového administrátora Skautisu o pomoc).

  %p Maximum za tuto disciplínu je #{Team.points_before_about_max} bodů.

  - if @team.about_photo.file?
    %p Představení vaší družiny jsme dostali a po uzávěrce jej vyhodnotíme.
    %p
      - if @team.about_photo.file?
        %strong Nahraná prezentace:
        = link_to File.basename(@team.about_photo.path), @team.about_photo.url
        = "[%.1f kB]" % (@team.about_photo.size / 1000)
  - else
    %p Představení vaší družiny zatím nemáme, až ho budete mít, nahrajte prezentaci pomocí formuláře níže. Čas máte do #{Team.about_deadline.strftime("%d. %m. %Y %H:%M")} - zbývá #{test_time_widget(Team.about_deadline)}.

  %div.well.well-sm
    = form_tag before_about_upload_team_path(uid: @team.uid), {multipart: true, method: :post} do
      Nahrát prezentaci ve formátu PDF.
      = file_field_tag "about_pdf" #, "PDF prezentace"
      %br
      = submit_tag "Nahrát", class: "btn btn-primary"
- else Time.now < Team.about_deadline
  - if @team.about_photo.file?
    %p Představení vaší družiny máme a pracujeme na jeho vyhodnocení.
  - else
    %p Už je po uzávěrce a představení družiny jste nedodali – škoda, mohli jste mít až #{Team.points_before_about_max} bodů.

%h2 Test z pravidel SZ

- if @team.points_before_rules
  %p Vyhodnoceno. Získali jste #{@team.points_before_rules} / #{Team.points_before_rules_max} b.
- elsif @team.ts_rules_started and (@team.ts_rules_started + Team.rules_minutes.minutes).to_datetime < Time.now.to_datetime
  %p Test jste spustili a čas vám vypršel v #{(@team.ts_rules_started + Team.rules_minutes.minutes).to_datetime.strftime("%d. %m. %Y %H:%M")} – škoda, mohli jste mít až #{Team.points_before_rules_max} bodů.
- elsif Time.now < Team.rules_deadline
  %p Seznamte se s #{link_to "pravidly Svojsíkova závodu", "https://krizovatka.skaut.cz/zpravodajstvi/4120-pravidla-svojsikova-zavodu-2019?autologin=1", target: "_blank"}. Seznámení věnujte čas podle potřeby, při samotném vyplňování testu pravidla můžete použít také. V testu je #{Team.rules_questions.size} otázek, na odpovědi máte #{Team.rules_minutes} minut. 

  %p Maximum za tuto disciplínu je #{Team.points_before_rules_max} bodů.

  - if !@team.replies_rules.blank?
    %p Vaše odpovědi na test z pravidel závodu jsme dostali a po uzávěrce je vyhodnotíme.
  - else
    %p Test z pravidel závodu jste ještě nevyplnili, máte čas do #{Team.rules_deadline.strftime("%d. %m. %Y %H:%M")} - zbývá #{test_time_widget(Team.rules_deadline)}.
    - if @team.ts_rules_started
      - if (@team.ts_rules_started + Team.rules_minutes.minutes).to_datetime > Time.now.to_datetime
        %p
          Test už jste spustili a máte čas ho dokončit do #{(@team.ts_rules_started + Team.rules_minutes.minutes).to_datetime.strftime("%H:%M:%S")} - zbývá #{test_time_widget(@team.ts_rules_started + Team.rules_minutes.minutes)}
        %p
          = link_to "Otevřít test z pravidel", before_rules_questions_team_path(uid: @team.uid), class: "btn btn-success"
    - else
      %p
        Pozor, jakmile se do testu pustíte, máte #{Team.rules_minutes} minut na jeho vyplnění a máte jenom jeden pokus.
      %p
        = link_to "Vyplnit test z pravidel", before_rules_start_team_path(uid: @team.uid), class: "btn btn-success"
- else Time.now < Team.rules_deadline
  - if !@team.replies_rules.blank?
    %p Vaše odpovědi na test z pravidel závodu jsme dostali a pracujeme na jejich vyhodnocení.
  - else
    %p Už je po uzávěrce a test jste nevyplnili – škoda, mohli jste mít až #{Team.points_before_rules_max} bodů.

