%h1 Modul Přežití

%h2 Přípravy

%p Sbalte si věci, které budete potřebovat na den a půl trvající akci (viz Důležité / vybavení) a buďte připraveni! Potřebujete si předem nakoupit suroviny na večeři pro celou hlídku (limit 400,- Kč na hlídku, z vlastních zdrojů), kterou budete vařit na vařiči na cestě. Večeře bude rovnoměrně hodnocena podle toho, jak budete spolupracovat při přípravě, jak chutného výsledku dosáhnete a jak zajímavý recept zvolíte.

- unless @team.train
  %p Poté, co vyplníte přihlášku na závod a zvolíte si vlakový spoj, se Vám níže zobrazí konkrétní informace o odjezdu na závod a první úkol po vystoupení z vlaku.

- if @team.train

  %h2 Doprava

  %p Doprava na závod je první disciplínou modulu Přežití: ve vaší režii je plánování srazu a cesty na nádraží, nákup lístků i včasné a správné nalezení vašeho vlaku.

  %p Pojedete vlakem #{@team.train[:number]}, který odjíždí v #{@team.train[:departure]} ze Smíchovského nádraží do Řevnic, kam přijíždí v #{@team.train[:arrival]}.
  
  %p Zvolený vlakový spoj je povinný, musíte ho stihnout. V opačném případě byste přišli o spoustu bodů a ztratili byste nezměrné množství času. Mějte proto při plánování odkezdu dostatečnou časovou rezervu.

  %h2 Prezentace po příjezdu do Řevnic

  %p 
    Po vystoupení z vlaku vyfoťte skupinové selfie, na kterém budou všichni členové hlídky a rozpoznatelný nápis Řevnice (např. na staniční budově). Fotku nahrajte pomocí formuláře níže a do textového pole vyplňte jména všech členů na fotce zleva doprava. Tento úkol není bodovaný, ale slouží jako prezentace na závod a bez jeho splnění nebudete moci pokračovat dále.

  %p 
    Dále na místě vyčkejte připojení kontrolora - doprovodu jiné hlídky. Od nyní až do nástupu na srazu závodu zítra ráno budete pod dohledem, kontrolou a bodováním vašeho nového doprovázejícího vedoucího. Nesmí vám pomáhat, ale bude vás pozorovat a hodnotit vaše výkony. Jeho příkazy, zejm. bezpečnostní jste od teď povinni se řídit.

  - unless @team.checkin_photo.file? and !@team.checkin_data.blank? and !@team.new_supervisor_data.blank?
    %p
      Po nahrání fotky a poté, co se pomocí webu zaregistruje váš nový doprovod, se na této stránce níže zobrazí pokyny pro další postup.


  %div.well.well-sm(style="overflow: auto")
    - if @team.checkin_photo.file?
      %div.pull-right= image_tag @team.checkin_photo.url, style: "max-width: 33vw; max-height: 150px"
      %p
        %strong Nahraná fotka:
        = link_to File.basename(@team.checkin_photo.path), @team.checkin_photo.url
        = "[%.1f kB]" % (@team.checkin_photo.size / 1000)
    - if @team.checkin_photo.file? and !@team.checkin_data.blank? and !@team.new_supervisor_data.blank?  
      %p
        %strong Popisek:
        = @team.checkin_data
    - else
      = form_tag survival_checkin_upload_team_path(uid: @team.uid), {multipart: true, method: :post} do
        %p
          Nahrát fotku:
          = file_field_tag "checkin_photo" #, "PDF prezentace"
        %p
          Jména členů hlídky na fotce zleva doprava:
          %br
          = text_field_tag "checkin_data", @team.checkin_data, style: "width: 56vw"
        %p
          = submit_tag "Nahrát", class: "btn btn-primary"

  - if !@team.new_supervisor_data.blank?
    %p Váš doprovod je #{@team.new_supervisor_data}.
  - else  
    %p Váš nový doprovod se zatím nezaregistroval ...

  - if @team.checkin_photo.file? and !@team.checkin_data.blank? and !@team.new_supervisor_data.blank?  
    %h2 Odchod z Řevnic
    
    %p Z Řevnic odejděte po #{@team.trail.sub("á", "é")} turistické značce směrem na Kytín (pozor, od nádraží jde zelená dvěma směry – ta na Halouny pokračuje do Kytína jako zelená a ta na Řevnický les jde od kraje Řevnic na hřeben jako žlutá). Po značce jděte alespoň ke konci zástavby, zbytek cesty si plánujete sami. 
    
    %h2 Večeře

    %p zadani vecere
    
    %p Poté, co váš doprovod večeři oboduje, se vám níže na této stránce zobrazí instrukce k dalšímu postupu.

    - if @team.points_survival_dinner and @team.hotspot

      %h2 Přespání

      %p zadani k prespani

      %p
        %strong Souřadnice hotspotu:
        #{@team.hotspot[:lat]}N, #{@team.hotspot[:lng]}E

      - if @team.ts_survival_hotspot
        %p Příchod na místo přespání ověřen v #{@team.ts_survival_hotspot}.
        
        %p Vaším úkolem je najít si místo na táboření v okruhu do 200 m od místa nalezení této zprávy, ovšem tak, abyste nebyli na dohled k jiné hlídce. Místo táboření volte podle sebe, musíte si postavit alespoň jeden stan. Spát v něm nemusíte. Oheň nesmíte rozdělávat. (ani na stávajících ohništích, ani na vařičích).
      - else
        %p Po příchodu na zadané místo hledejte tubu od šumáku (upřesňující popis místa: #{@team.hotspot[:detail]}). V ní najdete QR kód, který použijte, čímž ověříte svůj příchod na hotspot a následně se vám na této stránce níže zobrazí další instrukce.

      - if @team.ts_survival_hotspot
      
        %h2 Příchod na shromaždiště závodu

        %p Ráno se zařiďte tak, abyste byli do 7:00 na tomto místě: 49.8527933N, 14.1914814E. Pozdní příchod bude trestán nejen bodovou ztrátou, ale v případě většího zdržení i diskvalifikací, neboť začátek závodu nelze přesouvat kvůli čekání na pozdní příchod. Trasu a čas ranního vstávání si proto dobře naplánujte už nyní. Připomínáme vám povinnost nerušit klid v lese.

        - if @team.ts_survival_center
          %p Příchod na místo přespání ověřen v #{@team.ts_survival_center}.
        - else
          %p Po příchodu na shromaždiště vyfoťte vyvěšený cílový QR kód. Modul přežití tím pro vás bude u konce.
