= bootstrap_form_for [:admin, team] do |f|
  = f.text_field :number
  = f.static_control :uid
  = f.text_field :name
  = f.text_field :district
  = f.select :category, %w{H D}
  = f.text_field :initial_emails
  = f.select :preference_departure, Team.transport_choices.to_a.map(&:reverse), include_blank: true
  = f.submit(f.object.new_record? ? "Vytvořit" : "Uložit změny")