= bootstrap_form_for [:admin, team] do |f|
  = f.text_field :number
  = f.static_control :uid
  = f.text_field :name
  = f.text_field :district
  = f.select :category, %w{H D}
  = f.text_field :points_rules
  = f.text_field :points_about
  = f.text_field :points_register
  = f.text_field :points_transport
  = f.submit(f.object.new_record? ? "Vytvořit" : "Uložit změny")