%h1 Modul Před závodem

%table.table
  %thead
    %tr
      %th
      %th Hlídka
      %th= link_to "Reg.", [:grade_before_register, :admin, :teams]
      %th= link_to "Test", [:grade_before_rules, :admin, :teams]
      %th= link_to "Družina", [:grade_before_about, :admin, :teams]
      %th Spoj
      %th Značka
      %th Hotspot
  %tbody
    - Team.order(:name).each do |team|
      %tr
        %td= team.number
        %td= link_to team.name, [:admin, team]
        %td
          - if team.points_before_register
            #{team.points_before_register} b
          - elsif !team.replies_register.blank?
            = icon("circle", "vyplnili, vyhodnotit!")
          - else
            = icon("times", style: "color: #ddd")
        %td
          - if team.points_before_rules
            #{team.points_before_rules} b
          - elsif team.ts_rules_started and !team.ts_rules_done and team.ts_rules_started + Team.rules_minutes.minutes > Time.now
            = icon("play", "začali vyplňovat v #{team.ts_rules_started}")
          - elsif !team.replies_rules.blank?
            = icon("circle", "vyplnili (#{team.ts_rules_done}), vyhodnotit!")
          - else
            = icon("times", style: "color: #ddd")
        %td
          - if team.points_before_about
            #{team.points_before_about} b
          - elsif team.about_photo.file?
            = icon("circle", "odevzdali, vyhodnotit!")
          - else
            = icon("times", style: "color: #ddd")
        %td= team.train ? "#{team.train[:departure]}-#{team.train[:arrival]}" : icon("times", style: "color: #ddd")
        %td= team.trail || icon("times", style: "color: #ddd")
        %td= team.hotspot ? link_to(team.hotspot[:name], "https://mapy.cz/zakladni?vlastni-body&x=#{team.hotspot[:lng]}&y=#{team.hotspot[:lat]}&z=15", target: "_blank") : icon("times", style: "color: #ddd")
