%h1 Modul Před závodem

%table.table
  %thead
    %tr 
      %th
      %th Hlídka  
      %th Reg.
      %th= link_to "Test", [:grade_before_rules, :admin, :teams]
      %th Družina
      %th Doprava
      %th Spoj
      %th Značka
      %th Hotspot
  %tbody
    - Team.order(:name).each do |team|
      %tr
        %td= team.number
        %td= link_to team.name, [:admin, team]
        %td
          - if team.points_register
            #{team.points_register} b
          - elsif !team.replies_register.blank?
            = icon("circle", "vyplnili, vyhodnotit!")
          - else
            = icon("times", "zatím nevyplnili")
        %td
          - if team.points_rules
            #{team.points_rules} b
          - elsif team.ts_rules_started and !team.ts_rules_done and team.ts_rules_started + 30.minutes > Time.now  
            = icon("play", "začali vyplňovat v #{team.ts_rules_started}")
          - elsif !team.replies_rules.blank?
            = icon("circle", "vyplnili (#{team.ts_rules_done}), vyhodnotit!")
          - else
            = icon("times", "zatím nevyplnili")
        %td
          - if team.points_about
            #{team.points_about} b
          - elsif team.about_photo.file?
            = icon("circle", "odevzdali, vyhodnotit!")
          - else
            = icon("times", "zatím neodevzdali")
