%h1 Bodování :: před závodem :: představení družiny

= form_tag do
  - Team.all.each do |team|
    - if team.should_grade_before_about?
      %h5
        = team.number
        |
        = team.name
      %p= link_to team.about_photo_file_name, team.about_photo.url
      %table.table
        %tbody
          %tr
            %th Představení družiny
            %td= text_field_tag "points_about[#{team.id}][]", "", autocomplete: "off"
            %td (max=36)


  = submit_tag "Uložit", class: "btn btn-primary"
