%h1
  Hlídky
  = link_to icon("plus-circle", "přidat hlídku"), [:new, :admin, :team]

%table.table
  %thead
    %tr
      %th Číslo
      %th Název
      %th Středisko / oddíl
      %th Kategorie
      %th Email
  %tbody
    - Team.order(:name).each do |team|
      %tr
        %td= team.number
        %td= link_to team.name, [:admin, team]
        %td= team.district
        %td= team.category
        %td= team.initial_emails

%hr


%div.well.well-sm
  %h5 Všechny maily (z webu SZ)

  %p= Team.all.map{|t| t.initial_emails.split(",")}.flatten.uniq * ", "
  
%div.well.well-sm
  %h5 Rozeslat QR kódy
  %p= link_to "poslat", [:send_links, :admin, :teams], method: :post