%h1 
  Hlídky
  = link_to icon("plus-circle", "přidat hlídku"), [:new, :admin, :team]

%table.table
  %thead
    %tr
      %th Číslo
      %th Název
      %th Středisko / oddíl
      %th Kategorie
  %tbody
    - Team.order(:name).each do |team|
      %tr
        %td= team.number
        %td= link_to team.name, [:admin, team]
        %td= team.district
        %td= team.category
        %td
          = link_to icon("times", "smazat hlídku"), [:admin, team], method: :delete, data: {confirm: "Opravdu smazat #{team}?"}