%h1
  Hlídka #{@team.name} [#{@team.number}]
  = link_to icon("edit", "upravit"), [:edit, :admin, @team]

%table.table
  %colgroup
    %col.col-sm-4
    %col.col-sm-8
  %tbody
    %tr
      %th Středisko / oddíl
      %td= @team.district
    %tr
      %th UID
      %td= @team.uid

%table.table
  %colgroup
    %col.col-sm-4
    %col.col-sm-8
  %tbody
    %tr
      %th Body celkem
      %td= @team.points
    %tr
      %th Čas (konečná)
      %td= @team.time_end.strftime("%d. %m. %Y %H:%M:%S")
    %tr
      %th Čas (zbývá)
      %td
        = format_time_left @team.time_left
        %br
        = time_widget @team

%table.table
  %colgroup
    %col.col-sm-4
    %col.col-sm-4
    %col.col-sm-4
  %tbody
    %tr.bg-primary
      %th(colspan) Před závodem
      %th body
      %th max
    %tr
      %th Představení družiny
      %td= @team.points_about
      %td= Team.points_about_max
    %tr
      %th Registrace na SZ
      %td= @team.points_register
      %td= Team.points_register_max
    %tr
      %th Test z pravidel
      %td= @team.points_rules
      %td= Team.points_rules_max
    %tr
      %th Doprava na závod
      %td= @team.points_transport
      %td= Team.points_transport_max
    %tr
      %th Celkem
      %td= @team.sum_before
      %td= Team.points_register_max+Team.points_transport_max+Team.points_rules_max+Team.points_about_max


%h5 Odkazy / QR

%table.table
  %tbody
    %tr
      %th Hlavní stránka
      %td= link_to dashboard_url(uid: @team.uid), dashboard_url(uid: @team.uid)
      %td= RQRCode::QRCode.new(dashboard_url(uid: @team.uid)).as_svg(module_size: 4).html_safe



%h5 Test z pravidel

- if @team.ts_rules_started
  %p Začátek: #{@team.ts_rules_started.strftime("%d. %m. %Y %H:%M:%S")}
- else
  %p Zatím nezačali vyplňovat.

- if @team.replies_rules.blank?
  %p Nevyplnili.
- else
  %table.table
    %tbody
      - data = @team.replies_rules_
      - Team.rules_questions.each_with_index do |q,qi|
        %tr
          %td= qi+1
          %td= q
          %td= data["q#{qi+1}"]

%h5 Prezentace družiny

- if @team.about_photo.file?
  %p= link_to File.basename(@team.about_photo.path), @team.about_photo.url
- else
  %p Nevyplnili.

%h5 Registrace na závod

- if @team.replies_register.blank?
  %p Nevyplnili.
- else
  - data = @team.replies_register_
  %pre= data.inspect

%h5 Doprava na SZ

%p TBD
