%h1
  Hlídka #{@team.name} [#{@team.number}]
  = link_to icon("edit", "upravit"), [:edit, :admin, @team]

%table.table
  %colgroup
    %col.col-sm-4
    %col.col-sm-8
  %tbody
    %tr
      %th Středisko / oddíl
      %td= @team.district
    %tr
      %th UID
      %td= @team.uid

%table.table
  %colgroup
    %col.col-sm-4
    %col.col-sm-8
  %tbody
    %tr
      %th Body celkem
      %td= @team.points
    %tr
      %th Čas (konečná)
      %td= @team.time_end.strftime("%d. %m. %Y %H:%M:%S")
    %tr
      %th Čas (zbývá)
      %td
        = format_time_left @team.time_left
        %br
        = time_widget @team

%table.table
  %colgroup
    %col.col-sm-4
    %col.col-sm-4
    %col.col-sm-4
  %tbody
    %tr.bg-primary
      %th(colspan) Před závodem
      %th body
      %th max
    %tr
      %th Představení družiny
      %td= @team.points_before_about
      %td= Team.points_before_about_max
    %tr
      %th Registrace na SZ
      %td= @team.points_before_register
      %td= Team.points_before_register_max
    %tr
      %th Test z pravidel
      %td= @team.points_before_rules
      %td= Team.points_before_rules_max
    %tr
      %th Celkem
      %td= @team.sum_before
      %td= Team.points_before_max


%h4 Odkazy

%table.table
  %tbody
    %tr
      %th Hlavní stránka
      %td= link_to dashboard_url(uid: @team.uid), dashboard_url(uid: @team.uid)
    %tr
      %th Modul přežití -- DOPROVODY
      %td= link_to survival_dashboard_url(suid: @team.survival_uid), survival_dashboard_url(suid: @team.survival_uid)
      / %td= RQRCode::QRCode.new(dashboard_url(uid: @team.uid)).as_svg(module_size: 4).html_safe



%h4 Test z pravidel

- if @team.points_before_rules
  %p Body: #{@team.points_before_rules}
- else
  %p Zatím neobodováno.

- if @team.ts_rules_started
  %p Začátek: #{@team.ts_rules_started.strftime("%d. %m. %Y %H:%M:%S")}
- else
  %p Zatím nezačali vyplňovat.

- if @team.replies_rules.blank?
  %p Nevyplnili.
- else
  %table.table
    %tbody
      - data = @team.replies_rules_
      - Team.rules_questions.each_with_index do |qqa,qi|
        %tr
          %td= qi+1
          %td= qqa[0]
          %td= data["q#{qi+1}"]
          %td= qqa[1]

%h4 Prezentace družiny

- if @team.points_before_about
  %p Body: #{@team.points_before_about}
- else
  %p Zatím neobodováno.

- if @team.about_photo.file?
  %p= link_to File.basename(@team.about_photo.path), @team.about_photo.url
- else
  %p Nenahráli.

%h4 Registrace na závod

- if @team.replies_register.blank?
  %p Nevyplnili.
- else
  - data = @team.replies_register_
  %table.table
    %colgroup
      %col.col-sm-4
      %col.col-sm-8
    - data.each do |k, v|
      - unless v.blank?
        %tr
          %th= k
          %td= v

%h4 Odjezd a hotspot

- if @team.preference_departure.blank?
  %p Nevybrali.
- else  

  %table.table
    %colgroup
      %col.col-sm-4
      %col.col-sm-8
    %tbody  
      %tr
        %th
        %td= @team.preference_departure
      - if @team.train  
        %tr
          %th Číslo spoje
          %td= @team.train[:number]
        %tr
          %th Odjezd ze Smíchova
          %td= @team.train[:departure]
        %tr
          %th Příjezd do Řevnic
          %td= @team.train[:arrival]
      - if @team.hotspot
        %tr
          %th Číslo hotspotu
          %td= @team.hotspot[:number]
        %tr
          %th Pracovní název
          %td= @team.hotspot[:name]
        %tr
          %th Dohledávka
          %td= @team.hotspot[:detail]
        %tr
          %th Souřadnice
          %td 
            #{@team.hotspot[:lat]}, #{@team.hotspot[:lng]}
            %div#mapa(style="height:380px")      
            :javascript
              $(function() {
          
                var center = SMap.Coords.fromWGS84(#{@team.hotspot[:lng]},#{@team.hotspot[:lat]});
                var m = new SMap(JAK.gel("mapa"), center, 14, SMap.DEF_TURIST);
                m.addMarker(center);            
              });
    
