%h1 Modul Přežití

%table.table
  %thead
    %tr
      %th
      %th Hlídka
      %th MED
      %th Doprava
      %th Doprovod
      %th Checkin
      %th Večeře
      %th Hotspot
      %th Přespání
      %th Na shromaždišti
  %tbody
    - Team.order(:name).each do |team|
      %tr
        %td= team.number
        %td= link_to team.name, [:admin, team]
        %td= !team.medical_data.blank? ? icon("check", "OK") : icon("times", style: "color: #ddd")
        %td
          - if team.points_survival_travel
            #{team.points_survival_travel} b
          - else
            = icon("times", style: "color: #ddd")
        %td= !team.new_supervisor_data.blank? ? icon("check", "OK") : icon("times", style: "color: #ddd")
        %td
          = team.checkin_photo.file? ? icon("check", "OK") : icon("times", style: "color: #ddd")
          = !team.checkin_data.blank? ? icon("check", "OK") : icon("times", style: "color: #ddd")
        %td= team.points_survival_dinner ? "#{team.points_survival_dinner} b" : icon("times", style: "color: #ddd")
        %td= team.ts_survival_hotspot || icon("times", style: "color: #ddd")
        %td= team.points_survival_night ? "#{team.points_survival_night} b" : icon("times", style: "color: #ddd")
        %td= team.ts_survival_center || icon("times", style: "color: #ddd")

%h3 Hotspoty

%table.table
  %tbody
    - Team::HOTSPOTS.each do |i, x|
      %tr
        %th= i
        %th= x[:name]
        %td
          = x[:detail]
          %p
            - Team.find_each do |t|
              - if t.hotspot and t.hotspot[:number] == i
                = link_to t.name, [:admin, t]
                %br
        %td
          = "#{x[:lat]}N,#{x[:lng]}E"
          %div{id: "mapa-h#{i}", style: "height:300px"}
          :javascript
            $(function() {

              var center = SMap.Coords.fromWGS84(#{x[:lng]}, #{x[:lat]});
              var m = new SMap(JAK.gel("mapa-h#{i}"), center, 14, SMap.DEF_TURIST);
              m.addMarker(center);
            });
          