!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    %title= content_for?(:title) ? yield(:title) : "IN TIME (SZ 2019 / Praha)"
    %meta{:content => content_for?(:description) ? yield(:description) : "Web pražského kola SZ", :name => "description"}
    %link{rel: "icon", href: favicon_path, type: "image/x-icon"}
    %link{rel: "shortcut icon", href: favicon_path, type: "image/x-icon"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    %div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      %div.container#menu
        %div.navbar-header
          %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#aer-navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to :admin, :class => 'navbar-brand' do
            %div
              InTime / ADMIN

        %div.collapse.navbar-collapse#aer-navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Hlídky", [:admin, :teams]
            %li= link_to "Před závodem", [:before, :admin, :teams]
            %li= link_to "Přežití", [:survival, :admin, :teams]
            %li= link_to "Závod", [:race, :admin, :teams]
            %li= link_to "Výsledky", [:results, :admin, :teams]
          
    %div.container#content
      %div(style="padding-top:60px;padding-bottom:20px")
        - flash.each do |key, value|
          = content_tag :div, class: "bs-callout bs-callout-#{{'alert' => 'danger','error' => 'danger', 'notice' => 'info'}[key.to_s] || 'default'}" do
            - [value].flatten.each do |entry|
              = entry
              %br
      = yield
