!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    %title= content_for?(:title) ? yield(:title) : "IN TIME (SZ 2019 / Praha)"
    %meta{:content => content_for?(:description) ? yield(:description) : "Web pražského kola SZ", :name => "description"}
    %link{rel: "icon", href: favicon_path, type: "image/x-icon"}
    %link{rel: "shortcut icon", href: favicon_path, type: "image/x-icon"}
    = stylesheet_link_tag :application, :media => "all"
    = stylesheet_link_tag :teams, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    %div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      %div.container#menu
        %div.navbar-header
          %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#aer-navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          - if @team
            = link_to dashboard_path(uid: @team.uid), :class => 'navbar-brand' do
              %div
                InTime
                = ":: #{@team.name}"
          - else
            = link_to "InTime", :root, :class => 'navbar-brand'


        %div.collapse.navbar-collapse#aer-navbar-collapse
          - if @team
            %ul.nav.navbar-nav
              %li
                - if true or %w{intro before survival race results}.include?(Parameter["current_module"])
                  = link_to "IN TIME", module_intro_team_path(uid: @team.uid)
                - else
                  = link_js "IN TIME", disabled: true
              %li
                = link_to "Důležité", info_team_path(uid: @team.uid)
              %li
                - if true or %w{intro before survival race results}.include?(Parameter["current_module"])
                  = link_to "Před závodem", module_before_team_path(uid: @team.uid)
                - else
                  = link_js "Před závodem", disabled: true
              %li
                - if true or %w{before survival race results}.include?(Parameter["current_module"])
                  = link_to "Přežití", module_survival_team_path(uid: @team.uid)
                - else
                  = link_js "Přežití", class: "disabled"
              %li
                - if true or %w{race results}.include?(Parameter["current_module"])
                  = link_to "Závod", module_race_team_path(uid: @team.uid)
                - else
                  = link_js "Závod", class: "disabled"
              %li
                - if true or %w{results}.include?(Parameter["current_module"])
                  = link_to "Výsledky", module_results_team_path(uid: @team.uid)
                - else
                  = link_js "Výsledky", class: "disabled"

    %div.container#content
      %div(style="padding-top:60px;padding-bottom:20px")
        - flash.each do |key, value|
          = content_tag :div, class: "bs-callout bs-callout-#{{'alert' => 'danger','error' => 'danger', 'notice' => 'info'}[key.to_s] || 'default'}" do
            - [value].flatten.each do |entry|
              = entry
              %br
      = yield
