!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    %title= content_for?(:title) ? yield(:title) : "IN TIME (SZ 2019 / Praha)"
    %meta{:content => content_for?(:description) ? yield(:description) : "Web pražského kola SZ", :name => "description"}
    %link{rel: "icon", href: favicon_path, type: "image/x-icon"}
    %link{rel: "shortcut icon", href: favicon_path, type: "image/x-icon"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = javascript_include_tag "https://api.mapy.cz/loader.js"
    :javascript
      Loader.load(null, {api:"simple"});
    = csrf_meta_tags
    = yield(:head)
  %body
    %div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      %div.container#menu
        %div.navbar-header
          %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#aer-navbar-collapse")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to :admin, :class => 'navbar-brand' do
            %div
              InTime / PŘEŽITÍ / #{@team.name} [#{@team.number}]

        %div.collapse.navbar-collapse#aer-navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Přehled", survival_dashboard_url(suid: @team.survival_uid)
            %li= link_to "Info", survival_info_url(suid: @team.survival_uid)
            %li= link_to "Doprovod / odchod", survival_supervisor_url(suid: @team.survival_uid)
            %li= link_to "Večeře", survival_dinner_url(suid: @team.survival_uid)
            %li= link_to "Přespání", survival_night_url(suid: @team.survival_uid)
          
    %div.container#content
      %div(style="padding-top:60px;padding-bottom:20px")
        - flash.each do |key, value|
          = content_tag :div, class: "bs-callout bs-callout-#{{'alert' => 'danger','error' => 'danger', 'notice' => 'info'}[key.to_s] || 'default'}" do
            - [value].flatten.each do |entry|
              = entry
              %br
      = yield
